{% extends 'templates/app.twig' %}

{% block content %}


        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
            <li role="presentation"><a href="#bohurt" aria-controls="bohurt" role="tab" data-toggle="tab">Bohurt</a></li>
            <li role="presentation"><a href="#triathlon" aria-controls="messages" role="tab" data-toggle="tab">Triathlon</a></li>
            <li role="presentation"><a href="#sword" aria-controls="settings" role="tab" data-toggle="tab">Sword and shield</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Longsword</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Polearm</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Profight</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">{% include 'tables/all.twig' %}</div>
            <div role="tabpanel" class="tab-pane" id="bohurt">{% include 'tables/bohurt.twig' %}</div>
            <div role="tabpanel" class="tab-pane" id="triathlon">{% include 'tables/triathlon.twig' %}</div>
            <div role="tabpanel" class="tab-pane" id="sword">{% include 'tables/sword.twig' %}</div>
        </div>

{% endblock %}