@font-face {
    font-family: ringBearer;
    src: url(../fonts/ringbearer.medium.ttf);
}

body{
    background: url(../img/Cool-Light-Grey-background-fantastic-imago-creative-studio-video-production.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: ringBearer;
}
hr{
    border-color: black;
}
.well{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #cccccc;
}
.btn-custom {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.datepicker {
    z-index:1051 !important;
}

.profile-photo{
     max-height: 250px;
    opacity: 0;
    transition: opacity  1.5s ease-in-out;
 }

.profile-photo-intro{
    opacity: 1;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-photo{
    max-height: 100px;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;

}
.nav-photo{
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
.nav-photo:hover  {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.coa-photo-table{
    max-height: 50px;
    max-width: 50px;
}

.coa-photo-profile{
    max-height: 150px;
    max-width: 150px;
    width: 100%;
}
.fa-trophy-gold{
    color: gold;
}

.fa-trophy-silver{
    color: #929292;
}

.fa-trophy-bronze{
    color: brown;
}


.badge-gold{
    background-color: gold;
    color: black;
}

.badge-silver{
    background-color: #929292;
    color: black;
}

.badge-bronze{
    background-color: brown;
    color: black;
}

.achievement{
    font-size: medium;
    margin-top: 5px;

}

table{
    background-color: transparent !important;

}


.panel-default{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-center{
    color: black;
}

.achievement{
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -15%


}

