<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="photo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Photo upload</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path_for('photo',{userId : user.id , param : 'photo'}) }}" method="post" enctype="multipart/form-data">
                        <fieldset>

                            <div class="form-group">
                                <label for="image">Image</label>
                                <input type="file" name="image" class="form-control">
                            </div>

                            <button type="submit" class="btn btn-lg btn-custom btn-block">Upload</button><button class="btn btn-lg btn-custom btn-block pull-right divMsg" style="display:none;"><img src="{{ base_url() }}/img/1351237.gif" height="25px" > Please wait... </button>
                            {{ csrf.field | raw }}
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
